.inlineWrapper {
    display: inline-block;
}

.itemDetails {
    position: absolute;
    padding: 50px;
}

.imageList {
    float: right;
}

.imageWrapper {
    width: 120px;
    height: 120px;
}

.greenButton {
    background-color: #008000;
    color: #fff;
    border: 0px;
    height: 26px;
    border-radius: 7px;
}

.quantityActionButton {
    border: 1px solid #fff;
    color: #fff;
    background-color: #008000;
    height: 26px;
    width: 26px;
    border-radius: 7px;
}

.successImage {
    display: none;
}

.shareButton {
    margin-left: 20px;
}

.addToCartButton {
    float: right;
    font-family: unset;
}

.discountPrice {
    text-decoration: line-through;
}

.itemWrapper {
    position: relative;
    display: inline-block;
    vertical-align: top;
    border: 1px solid #8a1538;
    margin: 10px;
    width: 210px;
    height: 350px;
    border-radius: 7px;
}

.itemOuterWrapper {
    padding: 10px 20px 10px 50px;
}

.itemImage {
    display: flex;
    justify-content: center;
    align-items: center;
}

.itemName {
    font: 700 12px/1.35 Source Sans Pro, sans-serif;
    padding-left: 20px;
}

.itemArabicName {
    padding-left: 20px;
}

.itemActionWrapper {
    position: absolute;
    bottom: 0;
    padding: 10px;
    width: 100%;
}

.itemActionWrapper {
   float: bottom;
}

.itemPrice {
    font: 700 12px/1.35 Source Sans Pro, sans-serif;
    display: flex;
    justify-content: center;
}

.card {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    border-radius: 8px;
    height: 349px;
}
  
  .card:hover {
    box-shadow: 0 18px 16px 0 rgba(13, 236, 50, 0.2);
}
