/**
Header styles
Author : Sumith MS
**/

.headerWrapper {
    padding: 10px 10px 0px 10px
}

.headerLabels {
    padding-left: 20px;
    font-weight: 600;
}

.storeLabels {
    float: right;
}

.navWrapper {
    background-color: #212121;
    color: #fff;
}

.navCaption {
    border-radius: 25px;
    background-color: #84c639;
    color: #fff;
    padding: 0px 8px 0px 8px;
    margin: 0px;
}

.copyRightWrapper {
    background-color: #212121;
    border-top: 1px solid #3A3A3A;   
}

.copyRightText {
    font-size: 14px;
    color: #999;
    line-height: 1.8em;
    text-align: center;
}

.inlineWrapper {
    display: inline-block;
}

.greenFont {
    color: #8fe62b;
}

.checkoutButton {
    background-color: #84c639;
    color: #fff;
    border: 0px;
}

.checkoutWrapper {
    float: right;
}