.row {
    display: -webkit-box;
    display: -ms-flexbox;
    display: flex;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
    margin-right: 15px;
    margin-left: 15px;
}
.itemDetails {
    flex: 0 0 73%;
    max-width: 73%;
}
.itemName{
    width: 30%;
}
.imageWidth{
    width: 10%;
}
.deliveryCard {
    box-shadow: 0 2px 25px hsl(0deg 0% 60% / 50%);
    transition: 0.2s;
    border-radius: 8px;
    height: 500px;
    width: 22%;
    font-size: 14px;
    font-family: none;
    padding: 0 0 0 20px;
}
.itemCard {
    box-shadow: 0 2px 25px hsl(0deg 0% 60% / 50%);
    transition: 0.2s;
    border-radius: 8px;
    margin-right:15px;
    font-size: 14px;
    font-family: none;
}
.contentWidth{
    padding: 10px;
    width: 19%;
}
.userCard {
    box-shadow: 0 4px 8px 0 rgba(0, 0, 0, 0.2);
    transition: 0.2s;
    border-radius: 8px;
    width: 96%;
    font-size: 14px;
    font: 'Lato' sans-serif;
}
.hr{
    margin-right: -75px;
}